In [1]:
import pandas as pd
from pathlib import Path

time: 161 ms (started: 2022-08-27 06:30:12 +00:00)

In [2]:
file_name = 'Tetuan City power consumption.csv'
file_path = './dataset/raw_data/'
raw_data = pd.read_csv(Path(file_path)/file_name)
raw_data['Date'] = pd.to_datetime(raw_data['Date']) 
raw_data = raw_data.set_index('Date')
display(raw_data)

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Date,,,,,,,,
2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...
2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

time: 2.78 s (started: 2022-08-27 06:30:13 +00:00)

# preprocess setting

In [3]:
data_selection = True

time: 232 µs (started: 2022-08-27 06:30:15 +00:00)

# Sort Data

In [4]:
sort_pre_df = raw_data.sort_values('Date')
display(sort_pre_df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 52416 entries, 2017-01-01 00:00:00 to 2017-12-30 23:50:00
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Temperature                52416 non-null  float64
 1   Humidity                   52416 non-null  float64
 2   Wind Speed                 52416 non-null  float64
 3   general diffuse flows      52416 non-null  float64
 4   diffuse flows              52416 non-null  float64
 5   Zone 1 Power Consumption   52416 non-null  float64
 6   Zone 2  Power Consumption  52416 non-null  float64
 7   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8)
memory usage: 3.6 MB

None

time: 20.7 ms (started: 2022-08-27 06:30:15 +00:00)

# Missing Data

In [5]:
na_mask = sort_pre_df.isna().sum() < len(raw_data)*0.01 # null values ratio==1%
na_pre_df = sort_pre_df.iloc[::, na_mask.tolist()]
na_pre_df = na_pre_df.fillna(method='ffill')
na_pre_df = na_pre_df.fillna(method='bfill')
if na_pre_df.isna().sum().sum() == 0:
    output_df = na_pre_df
else:
    print(na_pre_df.iloc[::, (na_pre_df.isna().sum()>0).tolist()])
    raise Exception(f'Still has {na_pre_df.isna().sum().sum()} null value')

time: 4.49 ms (started: 2022-08-27 06:30:15 +00:00)

# Data selection

In [6]:
if data_selection == True:
    output_df = na_pre_df.iloc[::18, ::]
    display(output_df)

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Date,,,,,,,,
2017-01-01 00:00:00,6.559,73.80,0.083,0.051,0.119,34055.69620,16128.87538,20240.963860
2017-01-01 03:00:00,5.169,77.90,0.083,0.066,0.108,21107.84810,13535.56231,15140.240960
2017-01-01 06:00:00,4.308,77.20,0.081,0.062,0.126,22219.74684,14068.08511,14908.915660
2017-01-01 09:00:00,4.704,71.80,0.083,82.500,20.150,21296.20253,12871.73252,12283.373490
2017-01-01 12:00:00,13.080,54.36,0.077,450.400,43.200,29644.55696,18131.30699,16562.891570
...,...,...,...,...,...,...,...,...
2017-12-30 09:00:00,10.330,50.23,0.078,77.900,21.380,24115.58935,20130.10126,7980.792317
2017-12-30 12:00:00,14.040,41.66,0.077,461.300,38.160,30552.09125,25936.79043,10164.705880
2017-12-30 15:00:00,14.540,39.45,0.079,409.100,37.070,29067.68061,25837.37343,10510.444180
2017-12-30 18:00:00,11.660,55.54,0.077,9.950,10.120,37998.47909,33094.81436,16768.307320
2017-12-30 21:00:00,8.800,65.49,0.082,0.088,0.115,36343.72624,31345.81160,16877.791120

time: 11.7 ms (started: 2022-08-27 06:30:15 +00:00)

# Output Data

In [7]:
output_df.to_csv(Path(file_path).parent/(str(Path(file_name).stem) + "_pre" + str(Path(file_name).suffix)))

time: 13.9 ms (started: 2022-08-27 06:30:15 +00:00)